<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://1005.filemail.com/api/file/get?filekey=-5Con7FDDt97G9_9NdCLmq_ki0xoonn1zKsEDbbEMdxi0US8l-bdUurb6u3PPA-tVjeVLgC7GA1pGZxfoUzjPAWP1khmUWx73qWLgTex9_g&pk_vid=ad88d3974dd9aa3b17241134276876c6</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>net.Almogio.whatsappp</string>
				<key>bundle-version</key>
				<string>24.17.10</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>WhatsApp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
