---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h2>
    {{ page.title }}
    <br />
    <small>{{ page.subtitle }}</small>
</h2>

<section>
    <audio class="podcast" preload="auto" controls>
      <source 
        src="{% if page.mp3-url contains 'http' %}{{ page.mp3-url }}{% else %}{{ site.url | append: site.baseurl | append: page.mp3-url }}{% endif %}" 
        type="audio/mp3" />
    </audio>
</section>

<h3>Notes</h3>
{{ content }}

{% if page.keywords %}
  <small>tags: <em>{{ page.keywords | join: "</em>, <em>" }}</em></small>
{% endif %}
